.nav-link:hover::after{
    content: '';
    display: block;
    border-bottom: 3px solid blue;
    width: 50%;
    margin: auto;
    padding-bottom: 5px;
    margin-bottom: -8px;
}

.info-panel{
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    padding: 30px;
}

/* rekomendasi */
.rekomendasi{
    margin-top: 120px;

}

/* *
{
    margin: 0%;
    padding: 0;
}

body
{
display: flex;
justify-content: center;
align-items: center;

} */

.imgs{
    position: relative;
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
}

.imgs .card {
    position: relative;
    max-width: 300px;
    height: 420px;
    background: #fff;
    margin: 30px 30px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 202px rgba(0, 0, 0, 0.5);
}

.imgs .card .imgx{
    position: relative;
    max-width: 260px;
    height: 260px;
}

.imgs .card .imgx img{
    max-width: 100%;
    border-radius: 4px;
}

